* text=auto eol=lf

/.forgejo export-ignore
/.github export-ignore
/AGENTS.md export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.nextcloudignore export-ignore
/.nvmrc export-ignore
/.php-cs-fixer.dist.php export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/css export-ignore
/docs export-ignore
/eslint.config.mjs export-ignore
/js export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/psalm.xml export-ignore
/scripts export-ignore
/src export-ignore
/stylelint.config.mjs export-ignore
/tests export-ignore
/tsconfig.json export-ignore
/vite.config.ts export-ignore
